<section>
  <div class="post-details">
    <div class="post-title">
      <h2><%= @post.title %> by <%= @post.author.name %></h2>
      <div class="user-count">
        <span>Comments: <%= @post.comments.count %></span>
        <span>Likes: <%= @post.likes.count %></span>
      </div>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div class="comment">
    <%= form_with(model: Comment.new, url: user_post_comments_path(@post.author, @post)) do |form| %>
      <%= form.text_area :text, placeholder: 'Enter your comment', rows: 4 %>
      <%= form.submit 'Add Comment' %>
    <% end %>
  </div>
  
  <div class="like">
    <%= form_with(model: Like.new, url: user_post_likes_path(@post.author, @post)) do |form| %>
      <%= form.submit 'Like' %>
    <% end %>
  </div>

  <div class="post-comments">
    <h3>Comments:</h3>
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.user.name %></strong>: <%= comment.text %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
