<section>
  <div class="post-details">
    <div class="post-title">
      <h2><%= @post.title %> by <%= @post.author.name %></h2>
      <div class="user-count">
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div class="post-comments">
    <h3>Comments:</h3>
    <ul>
      <% @post.comments.each do |comment| %>
        <li><strong><%= comment.user.name %></strong>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</section>
